.card{
    padding: 0 !important;
}

.flag{
    /* max-height: 200px; */
}

.deneme{
    align-items: center;
    justify-content: center;
}

.search-input{
    margin-right: 4rem !important;
    margin-bottom: 1rem;
    /* max-width: 20rem !important; */
    /* background-color: red; */
}

